<nav class='navbar navbar-inverse'>
  <div class='container-fluid'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#/">Single Page Application</a>
    </div>
    <ul id='nav-bar' class='nav navbar-nav' ng-controller='NavCtrl'>
      <li ng-repeat='item in items'>
        <a class='{{item.class}}' href='{{item.href}}'>{{item.text}}</a>
      </li>
      <li class='skip-btn'>
        <a ng-href='#/{{skipBtn.href}}'>{{skipBtn.name}}</a>
      </li>
    </ul>
    <div ng-show="isSignedIn()" class='nav navbar-nav navbar-right' ng-controller='ProfileCtrl'>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{email}}
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href='#/profile'>My Profile</a></li>
          <li><a href="#" ng-click='signOut()'>Sign out</a></li>
        </ul>
      </div>
    </div>
    <div ng-show="!isSignedIn()" class='nav navbar-nav navbar-right'>
      <google-sign-in-button button-id="uniqueid" options="options"></google-sign-in-button>
    </div>
  </div>
</nav>