body { 
    margin-top: 30px; 
}
.templates {
    display: none;
}
.inline-list {
    margin-bottom: 0px;
}
.inline-list li {
    display: inline;
    margin: 0 20px 0 0;
}
.fixed-top {
    position: fixed;
    top:0px;
    z-index: 1024;
}
.no-select{
    user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
}
.hover-links a{
    text-decoration: none
}
.hover-links a:hover{
    text-decoration: underline;
}
.nav-container {
    padding-left: 40px;
    background: #666;
}
.nav-container a{
    color: white
}
.navbar-padding {
    padding-top: 0px;
    display: inline-block;
}